{
  "bind_addr": "{{ node_internal_ip }}",
  "client_addr": "0.0.0.0",
  "data_dir": "/var/lib/consul",
  "enable_syslog": true,
  "encrypt": "{{ consul_secret }}",
  "leave_on_terminate": true,
  "log_level": "INFO",
  "rejoin_after_leave": true,
  "server": false,
  "start_join": [
    {% for ip in consul_ips %}
    "{{ ip }}"{% if not loop.index == loop.length %},{% endif %}
    {% endfor %}
  ]
}