{
  "bootstrap_expect": {{ consul_ips | length }},
  "bind_addr": "{{ node_internal_ip }}",
  "client_addr": "0.0.0.0",
  "data_dir": "/var/lib/consul",
  "enable_script_checks": true,
  "dns_config": {
    "enable_truncate": true,
    "only_passing": true
  },
  "enable_syslog": true,
  "encrypt": "{{ consul_secret }}",
  "leave_on_terminate": true,
  "log_level": "INFO",
  "rejoin_after_leave": true,
  "server": true,
  "start_join": [
    {% for ip in consul_ips %}
    "{{ ip }}"{% if not loop.index == loop.length %},{% endif %}
    {% endfor %}
  ],
  "ui": true
}