---
scope: db-cluster
name: {{ inventory_hostname }}

restapi:
  listen: {{ node_internal_ip }}:8008
  connect_address: {{ node_internal_ip }}:8008

consul:
  host: {{ node_internal_ip }}:8500
  scheme: http

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_slots: true
      use_pg_rewind: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        wal_keep_segments: 8
        max_wal_senders: 5
        max_replication_slots: 5
        checkpoint_timeout: 30
  initdb:
    - encoding: UTF8
    - data-checksums
  pg_hba:
    - host all dba all md5
    - host replication repl 10.1.0.0/26 md5
  users:
    dba:
      password: dba-pass
      options:
        - createdb
        - createrole
    repl:
      password: repl-pass
      options:
        - replication

postgresql:
  listen: {{ node_internal_ip }}:5432
  connect_address: {{ node_internal_ip }}:5432
  bin_dir: {{ postgres_bin_dir }}
  data_dir: /data/patroni
  config_dir: /data/patroni
  authentication:
    replication:
      username: repl
      password: repl-pass
    superuser:
      username: dba
      password: dba-pass
  parameters:
    unix_socket_directories: '/tmp'

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false