[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd\
  --name {{ inventory_hostname }}\
  --initial-cluster-token {{ cluster_random_token }}\
  --listen-peer-urls http://{{ etcd_private_ips[inventory_hostname] }}:2380\
  --advertise-client-urls http://{{ etcd_private_ips[inventory_hostname] }}:2379\
  --initial-advertise-peer-urls http://{{ etcd_private_ips[inventory_hostname] }}:2380\
  --listen-client-urls http://{{ etcd_private_ips[inventory_hostname] }}:2379,http://127.0.0.1:2379\
  --initial-cluster {{ cluster }}\
  --initial-cluster-state new\
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target