# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/bionic64"

  config.vm.provider "virtualbox" do |vb|
    vb.cpus = 1
    vb.memory = "1024"
  end
  {% for idx in range(consul_count) %}
  config.vm.define "consul-{{idx}}" do |node|
    node.vm.hostname = "consul-{{idx}}"
    node.vm.network "private_network", ip: "10.1.0.{{20 + idx}}", netmask: "255.255.255.192"
    node.vm.network "public_network",
      bridge: ["en0", "en0: wifi (AirPort)"],
      ip: "69.6.9.{{3 + idx}}",
      netmask: "255.255.255.240"
    node.vm.synced_folder "./shared", "/shared"

    node.vm.provision "ansible" do |ansible|
      ansible.playbook = "consul.yml"
      ansible.extra_vars = {
        node_internal_ip: "10.1.0.{{20 + idx}}",
        consul_ips: [
          {%- for idx in range(consul_count) %}
          "10.1.0.{{20 + idx}}"{% if not loop.index == consul_count %},{% endif %}
          {%- endfor %}
        ]
      }
    end
  end
  {%- endfor %}

  config.vm.define "haproxy" do |node|
    node.vm.hostname = "haproxy"
    node.vm.network "forwarded_port", guest: 6000, host: 16000
    node.vm.network "forwarded_port", guest: 7000, host: 17000
    node.vm.network "private_network", ip: "10.1.0.30", netmask: "255.255.255.192"
    node.vm.network "public_network",
      ip: "110.10.0.2",
      bridge: ["en0", "en0: wifi (AirPort)"],
      netmask: "255.255.255.252"
    node.vm.synced_folder "./shared", "/shared"

    node.vm.provision "ansible" do |ansible|
      ansible.playbook = "haproxy.yml"
      ansible.extra_vars = {
        node_internal_ip: "10.1.0.30",
        pg_ips: [
          {%- for idx in range(pg_count) %}
          "10.1.0.{{10 + idx}}"{% if not loop.index == pg_count %},{% endif %}
          {%- endfor %}
        ],
        consul_ips: [
          {%- for idx in range(consul_count) %}
          "10.1.0.{{20 + idx}}"{% if not loop.index == consul_count %},{% endif %}
          {%- endfor %}
        ]
      }
    end
  end
  {% for idx in range(pg_count) %}
  config.vm.define "pg-{{idx}}" do |node|
    node.vm.hostname = "pg-{{idx}}"
    node.vm.network "private_network", ip: "10.1.0.{{10 + idx}}", netmask: "255.255.255.192"
    node.vm.network "public_network",
      bridge: ["en0", "en0: wifi (AirPort)"],
      ip: "169.6.9.{{3 + idx}}",
      netmask: "255.255.255.240"
    node.vm.synced_folder "./shared", "/shared"

    node.vm.provision "ansible" do |ansible|
      ansible.playbook = "pg.yml"
      ansible.extra_vars = {
        node_internal_ip: "10.1.0.{{10 + idx}}",
        consul_ips: [
          {%- for idx in range(consul_count) %}
          "10.1.0.{{20 + idx}}"{% if not loop.index == consul_count %},{% endif %}
          {%- endfor %}
        ]
      }
    end
  end
  {%- endfor %}
end